In [4]:
import pandas as pd
import numpy as np
import os 

df = pd.read_csv('pandas_practice.csv')

In [6]:
df

     이름  발표횟수
0   강동환     0
1   김대천     0
2   김성태     0
3   김수경     0
4   김승일     0
5   김재현     0
6   김주영     0
7   김주향     0
8   김지환     0
9   김진용     0
10  김희수     0
11  노건우     0
12  박동균     0
13  박성빈     0
14  박성수     0
15  박성진     0
16  박정아     0
17  박준규     0
18  서보연     0
19  손현동     0
20  송치민     0
21  신동훈     0
22  신혜람     0
23  양정현     0
24  유병우     0
25  유지의     0
26  유채영     0
27  윤서림     0
28  윤여린     0
29  윤정수     0
30  이강륜     0
31  이민재     0
32  이주영     0
33  이지호     0
34  이현상     0
35  인지영     0
36  임준열     0
37  임채리     0
38  전병훈     0
39  전효원     0
40  정대규     0
41  정서연     0
42  정진아     0
43  정형욱     0
44  조성택     0
45  조준하     0
46  조중석     0
47  조철민     0
48  조효진     0
49  채준기     0
50  최송연     0
51  최원준     0
52  최재혁     0
53  최희승     0
54  홍예린     0

In [7]:
df.iloc[17]
df.loc[17]

이름      박준규
발표횟수      0
Name: 17, dtype: object

In [17]:
#뒤에는 -1 이기 떄문에 55 넣기. 그래야 54명 뽑을 수 있음
np.random.randint(0,55)

44

In [18]:
df.iloc[np.random.randint(0,55)]

이름      박정아
발표횟수      0
Name: 16, dtype: object

In [21]:
def pop_student(df=df):
    length =df.shape[0]
    rand_num=np.random.randint(0,length)
    name=df.iloc[rand_num]["이름"]
    print(f"       축하합니다! \n{name} 학생이 당첨 되었습니다.")

In [25]:
pop_student(df)

       축하합니다!
김희수 학생이 당첨 되었습니다.

#### Quiz 1 - 결석한 학생들은 빼고 학생을 출력되도록 업데이트 해봅시다.

In [24]:
absence=['조성택','최원준','정대규','이강륜','노건우'
         ,'김재현','김희수','최송연']

In [27]:
import numpy as np
import pandas as pd

# 예시 데이터프레임을 생성
data = pd.read_csv('pandas_practice.csv')
df = pd.DataFrame(data)

# 결석한 학생 리스트를 저장
absent_students = ['조성택','최원준','정대규','이강륜','노건우'
         ,'김재현','김희수','최송연']

def pop_student(df, absent_students):
    # 결석한 학생들을 제외한 학생들만 선택
    present_students = df[~df['이름'].isin(absent_students)]

    # 무작위로 학생 선택
    length = present_students.shape[0]
    rand_num = np.random.randint(0, length)
    name = present_students.iloc[rand_num]["이름"]

    print(f"       축하합니다! \n{name} 학생이 당첨 되었습니다.")

# 함수
pop_student(df, absent_students)

       축하합니다!
유병우 학생이 당첨 되었습니다.

In [28]:
present_students = df[~df['이름'].isin(absent_students)]
present_students

     이름  발표횟수
0   강동환     0
1   김대천     0
2   김성태     0
3   김수경     0
4   김승일     0
6   김주영     0
7   김주향     0
8   김지환     0
9   김진용     0
12  박동균     0
13  박성빈     0
14  박성수     0
15  박성진     0
16  박정아     0
17  박준규     0
18  서보연     0
19  손현동     0
20  송치민     0
21  신동훈     0
22  신혜람     0
23  양정현     0
24  유병우     0
25  유지의     0
26  유채영     0
27  윤서림     0
28  윤여린     0
29  윤정수     0
31  이민재     0
32  이주영     0
33  이지호     0
34  이현상     0
35  인지영     0
36  임준열     0
37  임채리     0
38  전병훈     0
39  전효원     0
41  정서연     0
42  정진아     0
43  정형욱     0
45  조준하     0
46  조중석     0
47  조철민     0
48  조효진     0
49  채준기     0
52  최재혁     0
53  최희승     0
54  홍예린     0

#### Quiz 2 - 발표횟수 업데이트 해줘

In [29]:
df.loc[df['이름']=='박준규']

     이름  발표횟수
17  박준규     0

In [30]:
#발표 횟수만 인덱싱 
df.loc[df['이름']=='박준규']["발표횟수"]

17    0
Name: 발표횟수, dtype: int64

In [31]:
#쉼표로 구분이 됨
df.loc[df['이름']=='박준규','발표횟수']

17    0
Name: 발표횟수, dtype: int64

In [32]:
def pop_student(df=df):
    length =df.shape[0]
    rand_num=np.random.randint(0,length)
    name=df.iloc[rand_num]["이름"]
    print(f"       축하합니다! \n{name} 학생이 당첨 되었습니다.")
    return()

###### Quiz위의 데이터 프레임에 학생의 성을 " 성"이라는 컬럼에 매핑해 봅시다.

In [35]:
df.shape

(55, 2)

In [36]:
df['성'] = df.apply(lambda x:x['이름'][0],axis=1) 
# 이름의 첫글자를 뗴어서 저장
#x 는 행 1줄 1줄
df

     이름  발표횟수  성
0   강동환     0  강
1   김대천     0  김
2   김성태     0  김
3   김수경     0  김
4   김승일     0  김
5   김재현     0  김
6   김주영     0  김
7   김주향     0  김
8   김지환     0  김
9   김진용     0  김
10  김희수     0  김
11  노건우     0  노
12  박동균     0  박
13  박성빈     0  박
14  박성수     0  박
15  박성진     0  박
16  박정아     0  박
17  박준규     0  박
18  서보연     0  서
19  손현동     0  손
20  송치민     0  송
21  신동훈     0  신
22  신혜람     0  신
23  양정현     0  양
24  유병우     0  유
25  유지의     0  유
26  유채영     0  유
27  윤서림     0  윤
28  윤여린     0  윤
29  윤정수     0  윤
30  이강륜     0  이
31  이민재     0  이
32  이주영     0  이
33  이지호     0  이
34  이현상     0  이
35  인지영     0  인
36  임준열     0  임
37  임채리     0  임
38  전병훈     0  전
39  전효원     0  전
40  정대규     0  정
41  정서연     0  정
42  정진아     0  정
43  정형욱     0  정
44  조성택     0  조
45  조준하     0  조
46  조중석     0  조
47  조철민     0  조
48  조효진     0  조
49  채준기     0  채
50  최송연     0  최
51  최원준     0  최
52  최재혁     0  최
53  최희승     0  최
54  홍예린     0  홍

In [37]:
df['성'].unique()

array(['강', '김', '노', '박', '서', '손', '송', '신', '양', '유', '윤', '이', '인',
       '임', '전', '정', '조', '채', '최', '홍'], dtype=object)

In [38]:
df['성'].unique().shape

(20,)

In [40]:
# 각 카테고리의 변수를 찾음
df['성'].value_counts()

김    10
박     6
조     5
이     5
최     4
정     4
윤     3
유     3
임     2
신     2
전     2
채     1
강     1
인     1
양     1
송     1
손     1
서     1
노     1
홍     1
Name: 성, dtype: int64

###### 성이 홍씨인 사람 찾기

In [41]:
df[df['성']=='홍']

     이름  발표횟수  성
54  홍예린     0  홍

In [42]:
df.loc[df['성']=='홍']

     이름  발표횟수  성
54  홍예린     0  홍

In [43]:
df.loc[df['성']=='홍','이름']

54    홍예린
Name: 이름, dtype: object

In [44]:
#결석한 학생 뽑기 
df['이름'].isin(absence)

0     False
1     False
2     False
3     False
4     False
5      True
6     False
7     False
8     False
9     False
10     True
11     True
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30     True
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40     True
41    False
42    False
43    False
44     True
45    False
46    False
47    False
48    False
49    False
50     True
51     True
52    False
53    False
54    False
Name: 이름, dtype: bool

In [45]:
#현재 있는 학생 
df.loc[~df['이름'].isin(absence)]

     이름  발표횟수  성
0   강동환     0  강
1   김대천     0  김
2   김성태     0  김
3   김수경     0  김
4   김승일     0  김
6   김주영     0  김
7   김주향     0  김
8   김지환     0  김
9   김진용     0  김
12  박동균     0  박
13  박성빈     0  박
14  박성수     0  박
15  박성진     0  박
16  박정아     0  박
17  박준규     0  박
18  서보연     0  서
19  손현동     0  손
20  송치민     0  송
21  신동훈     0  신
22  신혜람     0  신
23  양정현     0  양
24  유병우     0  유
25  유지의     0  유
26  유채영     0  유
27  윤서림     0  윤
28  윤여린     0  윤
29  윤정수     0  윤
31  이민재     0  이
32  이주영     0  이
33  이지호     0  이
34  이현상     0  이
35  인지영     0  인
36  임준열     0  임
37  임채리     0  임
38  전병훈     0  전
39  전효원     0  전
41  정서연     0  정
42  정진아     0  정
43  정형욱     0  정
45  조준하     0  조
46  조중석     0  조
47  조철민     0  조
48  조효진     0  조
49  채준기     0  채
52  최재혁     0  최
53  최희승     0  최
54  홍예린     0  홍

In [46]:
#결석한 학생
df.loc[df['이름'].isin(absence)]

     이름  발표횟수  성
5   김재현     0  김
10  김희수     0  김
11  노건우     0  노
30  이강륜     0  이
40  정대규     0  정
44  조성택     0  조
50  최송연     0  최
51  최원준     0  최

In [47]:
#### Quiz 1 - 결석한 학생들은 빼고 학생을 출력되도록 업데이트 해봅시다.

In [48]:
def pop_student(df=df):
    df_present =df.loc[~df['이름'].isin(absence)].reset_index(drop=True)#결석한 학생 제거
    length =df.shape[0]#전체 데이터프레임 길이
    rand_num=np.random.randint(0,length)#임의 난수 생성 
    name=df.iloc[rand_num]["이름"]#학생 이름 생성 
    print(f"       축하합니다! \n{name} 학생이 당첨 되었습니다.")#최종 출력

In [49]:
#reset_index를 통해서 다시 새롭게 인덱스 순서를 배열시켜줌
#reset 안하고 하면 47명이 있지만 숫자는 54 까지 있는데 54번째 index
#를 찾으려고 하면 에러남 
df.loc[~df['이름'].isin(absence)].reset_index(drop=True)

     이름  발표횟수  성
0   강동환     0  강
1   김대천     0  김
2   김성태     0  김
3   김수경     0  김
4   김승일     0  김
5   김주영     0  김
6   김주향     0  김
7   김지환     0  김
8   김진용     0  김
9   박동균     0  박
10  박성빈     0  박
11  박성수     0  박
12  박성진     0  박
13  박정아     0  박
14  박준규     0  박
15  서보연     0  서
16  손현동     0  손
17  송치민     0  송
18  신동훈     0  신
19  신혜람     0  신
20  양정현     0  양
21  유병우     0  유
22  유지의     0  유
23  유채영     0  유
24  윤서림     0  윤
25  윤여린     0  윤
26  윤정수     0  윤
27  이민재     0  이
28  이주영     0  이
29  이지호     0  이
30  이현상     0  이
31  인지영     0  인
32  임준열     0  임
33  임채리     0  임
34  전병훈     0  전
35  전효원     0  전
36  정서연     0  정
37  정진아     0  정
38  정형욱     0  정
39  조준하     0  조
40  조중석     0  조
41  조철민     0  조
42  조효진     0  조
43  채준기     0  채
44  최재혁     0  최
45  최희승     0  최
46  홍예린     0  홍

###### Q2. 발표횟수 업데이트하기.

In [51]:
def pop_student(df=df):
    df_present =df.loc[~df['이름'].isin(absence)].reset_index(drop=True)#결석한 학생 제거
    length =df.shape[0]#전체 데이터프레임 길이
    rand_num=np.random.randint(0,length)#임의 난수 생성 
    name=df.iloc[rand_num]["이름"]#학생 이름 생성 
    print(f"       축하합니다! \n{name} 학생이 당첨 되었습니다.")#최종 출력
    df.loc[df['이름']==name,'발표횟수']+=1 # 발표횟수 업데이트

In [65]:
df.loc[df['이름']=='박준규','발표횟수']+1

17    2
Name: 발표횟수, dtype: int64

In [66]:
pop_student(df)

       축하합니다!
송치민 학생이 당첨 되었습니다.

In [68]:
def pop_student(df=df,absence = absence):
    df_present =df.loc[~df['이름'].isin(absence)].reset_index(drop=True)#결석한 학생 제거
    length =df.shape[0]#전체 데이터프레임 길이
    rand_num=np.random.randint(0,length)#임의 난수 생성 
    name=df.iloc[rand_num]["이름"]#학생 이름 생성 
    print(f"       축하합니다! \n{name} 학생이 당첨 되었습니다.")#최종 출력
    df.loc[df['이름']==name,'발표횟수']+=1 # 발표횟수 업데이트

In [70]:
pop_student()

       축하합니다!
최송연 학생이 당첨 되었습니다.

In [71]:
df

     이름  발표횟수  성
0   강동환     0  강
1   김대천     0  김
2   김성태     0  김
3   김수경     0  김
4   김승일     0  김
5   김재현     0  김
6   김주영     0  김
7   김주향     1  김
8   김지환     0  김
9   김진용     0  김
10  김희수     0  김
11  노건우     0  노
12  박동균     0  박
13  박성빈     0  박
14  박성수     0  박
15  박성진     0  박
16  박정아     0  박
17  박준규     1  박
18  서보연     0  서
19  손현동     0  손
20  송치민     1  송
21  신동훈     0  신
22  신혜람     0  신
23  양정현     0  양
24  유병우     0  유
25  유지의     0  유
26  유채영     0  유
27  윤서림     0  윤
28  윤여린     0  윤
29  윤정수     0  윤
30  이강륜     0  이
31  이민재     0  이
32  이주영     0  이
33  이지호     0  이
34  이현상     0  이
35  인지영     0  인
36  임준열     0  임
37  임채리     0  임
38  전병훈     0  전
39  전효원     0  전
40  정대규     0  정
41  정서연     0  정
42  정진아     0  정
43  정형욱     0  정
44  조성택     0  조
45  조준하     0  조
46  조중석     0  조
47  조철민     0  조
48  조효진     0  조
49  채준기     0  채
50  최송연     1  최
51  최원준     1  최
52  최재혁     0  최
53  최희승     0  최
54  홍예린     0  홍

###### df=df,absence = absenece  
###### 만약 여러 수업이 있다면 df= df1 absence=absene1 지정가능

###### Q3. 발표횟수가 3회 이상인 학생은 뽑기에서 제외하는 코드 만들자.
시험 기본적인거 물어보고 데이터 파일 csv형식으로 주시면 읽어오고 
(pandas로 읽어오고) 데이터 불러와서 문제 던지는거 풀기 .

    - 전부다 결석하면 에러가 뜨니 에러 안뜨게 하기
    - 데이터 조건에따라 필터링 하기(중요)
    - 발표횟수 3회 이상인 사람 제거 
    - 등등 
    - 시험범위 5장
    - 금요일 공강